[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/molokai"]
	path = .vim/pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/vim-scala"]
	path = .vim/pack/plugins/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/clang_complete"]
	path = .vim/pack/plugins/start/clang_complete
	url = https://github.com/jiulongw/clang_complete
[submodule ".vim/pack/plugins/start/vim-toml"]
	path = .vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/pack/plugins/start/fluent.vim"]
	path = .vim/pack/plugins/start/fluent.vim
	url = https://github.com/projectfluent/fluent.vim.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/plugins/start/vim-solidity"]
	path = .vim/pack/plugins/start/vim-solidity
	url = https://github.com/TovarishFin/vim-solidity
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/plugins/start/vim-tsx"]
	path = .vim/pack/plugins/start/vim-tsx
	url = https://github.com/ianks/vim-tsx.git
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/plugins/start/copilot.vim"]
	path = .vim/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
